#files

GPATH
GRTAGS
GSYMS
GTAGS

*.mex
~*
*.mat
*.zip
*.mexa64
*.raw
*~
*.ppm
*.png
*.jpg
tmp.*
*/generate_scores.o*
pangaea


#folder
/build_*
/old_stuff

# MSVC files
*.opensdf
*.sdf
*.suo
*.user

# MSVC folders
msvc/.localhistory/
msvc/x64
msvc/MainEngine/x64
msvc/ConsoleApp/x64
msvc/GUIApp/x64